<section>
<div class="container">
    <div class="row">
        <div class="col">
            <figure style="text-align: center;">
                <img src="assets/404.png" width="785" height="370" alt="logo" >
              </figure>
          
              <header>
                <h1>404</h1>
                <h2>Hey captain! Looks like you're heading to a wrong planet!</h2>
                <a href="/" class="btn btn-primary">Take me back to the homepage</a>
              </header>
        </div>
    </div>
</div>
  </section>
